@font-face{
	font-family: 'Roboto';
	src:url(../fonts/roboto/Roboto-Regular.ttf);
}

html{
  font-size: 1.25rem;
}

body{
  padding-top: 1em;
}

.big-time{
  font-size: 5em;
  text-align: center;
}

th{
  font-size: 2.5em;
}

td{
  font-size: 2em;
}
