html{
	width: 100%;
	height: 100%;
	position: relative;
}

body{
	width: 100%;
	height: 100%;
	position: relative;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
	color: #EEEEEE;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar-nav{
	font-size: 1.5em;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
	color:#EEEEEE;
}

.sidebar-title{
	padding-left: 1rem;
}

.sidebar-subtitle{
	padding-left: 1rem;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 0.25em;
	font-size: 0.75em;
}

.sidebar-logo{
	display: block;
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.sidebar-toggle-button{
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0.5em;
  z-index: 1000;
}

/*
 * Main Views
 */

.app-main{
	width: 100%;
	height: 100vh;
	padding-bottom: 5rem;
	position: relative;
	overflow-y: auto;
}

/*
 * List
 */

.list-view{
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.list-input-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-top: 10px;
	background-color: #CCCCCC;
}

.strikethrough{
	text-decoration: line-through;
}

/*
 * List
 */
