html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

/*
 * Sidebar
 */

.sidebar {
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #EEEEEE;
}

.sidebar-nav {
  font-size: 1.5em;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: #EEEEEE;
}

.sidebar-footer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  height: 3em;
  text-align: center;
  padding: 0 0.25em 0 0.25em;
  font-size: 0.75em;
}

.sidebar-logo {
  display: block;
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-toggle-button {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0.5em;
  z-index: 1000;
}

/*
 * Main Views
 */

.app-main {
  width: 100%;
  height: 100vh;
  padding-bottom: 5rem;
  overflow-y: auto;
}

/*
 * List
 */

.list-view {
  padding: 0 1em 2em 1em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.list-table {
  max-height: 60vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.list-input-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  background-color: #CCCCCC;
}

.list-input-text {
  color: #000000;
}

.list-input-text:focus {
  color: #000000;
}

.strikethrough {
  text-decoration: line-through;
}
